streamlit==1.36.0
langchain==0.2.11
langchain-community==0.2.9
sentence-transformers==2.7.0
PyPDF2==3.0.1
requests==2.32.3
chromadb==0.4.24
langchain-chroma==0.1.1
transformers==4.42.3
torch==2.3.1
faiss-cpu==1.8.0
